* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-right: 3rem;
    align-items: center;
}


.kick-pad,
.snare-pad,
.hihat-pad,
.openhat-pad,
.clap-pad {
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(160, 211, 224);
}

.snare-pad {
    background: rgb(224, 160, 208);
}

.hihat-pad {
    background: rgb(224, 194, 160);
}

.openhat-pad {
    background: rgb(187, 99, 99);
}

.clap-pad {
    background: rgb(54, 153, 112);
}

.kick-pad.active {
    background: rgb(59, 197, 231);
}

.snare-pad.active {
    background: rgb(218, 58, 178);
}

.hihat-pad.active {
    background: rgb(241, 158, 64);
}

.openhat-pad.active {
    background: rgb(192, 38, 38);
}

.clap-pad.active {
    background: rgb(7, 95, 59);
}

.kick-track,
.snare-track,
.hihat-track,
.openhat-track,
.clap-track {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-top: 5rem;
}

.kick,
.snare,
.hihat,
.openhat,
.clap {
    display: flex;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
    min-width: 2rem;
}

.mute.active {
    background: rgb(182, 182, 182);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem, 0rem;
    width: 100%;
    position: relative;
    background: rgb(88, 88, 88);
    cursor: pointer;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}